@import "../../assets/colores.scss";

.Evento {
  border: 1px solid $negro;
  width: 100%;
  margin: 1rem;
  display: flex;
  h2 {
    margin-bottom: 10px;
  }
  .imagen {
    display: flex;
  }
  .detalles {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .fecha-lugar {
      font-style: italic;
    }
    p {
      margin-bottom: 5px;
      .Paga {
        color: $rojo;
      }
      .Gratis {
        color: $verde;
      }
    }
    .botones {
      margin-top: 10px;
      .btn {
        margin-right: 5px;
        &.reservado {
          background-color: lighten($verde, 15%);
          border: 1px solid $principal-oscuro;
          color: $blanco;
        }
      }
    }
  }
}
