$principal: #015d80;
$principal-claro: lighten($principal, 20%);
$principal-oscuro: darken($principal, 10%);
$secundario: #fe7f2d;
$secundario-claro: lighten($secundario, 20%);
$secundario-oscuro: darken($secundario, 20%);
$blanco: #fafafa;
$negro: #333;
$rojo: #ba1f33;
$verde: #1a631f;
