$principal-claro: #7988aa;
$principal: #515a70;
$principal-oscuro: #686f82;
$secundario: #fe7f2d;
$secundario-claro: lighten($secundario, 20%);
$secundario-oscuro: darken($secundario, 20%);
$blanco: #eee;
$negro: #333;
$rojo: #ba1f33;
$verde: #1a631f;
