@import "./assets/colores.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $negro;
}

a {
  color: $negro;
  text-decoration: none;
  &:visited {
    color: $negro;
  }
}

li {
  list-style: none;
}

.btn {
  border: 1px solid $principal;
  border-radius: 2px;
  background-color: transparent;
  padding: 5px 10px;
  color: $negro;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  transition: all 0.2s ease;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    &:hover {
      background-color: $principal-claro;
      border: 1px solid $principal-oscuro;
      color: $blanco;
    }
  }
}
